<!doctype html>
<html lang="en">
  <head>
  	<meta charset="utf-8" />
  	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
  	<link rel="icon" type="image/png" href="assets/img/favicon.png">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  	<title>Partneran - Share your Idea, get your partner!</title>

  	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

  	<!--     Fonts and icons     -->
  	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

  	<!-- CSS Files -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/material-kit.css" rel="stylesheet"/>

  	<!-- CSS Just for demo purpose, don't include it in your project -->
  	<link href="assets/css/custom.css" rel="stylesheet" />

  </head>

  <body class="landing-page">
    <!-- MAIN CONTAINER -->
    <div class="main">
      <div class="container">
        <!-- POPULAR IDEAS -->
        <div class="section text-center">
          <h2 class="title">Popular Ideas</h2>
          <div class="row">

            <!-- IDEAS ITEM  -->
            <div class="col-md-4 text-left">
              <div class="idea_thumbnail hovereffect" style="background-image: url('https://avatars1.githubusercontent.com/u/10125796?v=3&u=b92ee420ae73b0fa745c0dbbbbf846630184fbb3&s=400')">
                <div class="overlay">
                  <div class="box">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
            				<p>
            					<a href="#">LINK HERE</a>
            				</p>
                  </div>
                </div>
              </div>
              <h3>Cool Ideas</h3>
              <div class="col-md-6 no-padding-left">
                <p class="small text-muted">
                  <strong>Initiator:</strong>
                  <span class="small-detail">Tama Adhi</span>
                </p>
              </div>
              <div class="col-md-6 no-padding-left">
                <p class="small text-muted">
                  <strong>Category: </strong>
                  <span class="small-detail">Category</span>
                </p>
              </div>
            </div>
            <!-- IDEAS ITEM  -->
            
            <div class="col-md-4 text-left">
              <div class="idea_thumbnail hovereffect" style="background-image: url('https://avatars1.githubusercontent.com/u/10125796?v=3&u=b92ee420ae73b0fa745c0dbbbbf846630184fbb3&s=400')">
                <div class="overlay">
                  <div class="box">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
            				<p>
            					<a href="#">LINK HERE</a>
            				</p>
                  </div>
                </div>
              </div>
              <h3>Cool Ideas</h3>
              <div class="col-md-6 no-padding-left">
                <p class="small text-muted">
                  <strong>Initiator:</strong>
                  <span class="small-detail">Tama Adhi</span>
                </p>
              </div>
              <div class="col-md-6 no-padding-left">
                <p class="small text-muted">
                  <strong>Category: </strong>
                  <span class="small-detail">Category</span>
                </p>
              </div>
            </div>

            <div class="col-md-4 text-left">
              <div class="idea_thumbnail hovereffect" style="background-image: url('https://avatars1.githubusercontent.com/u/10125796?v=3&u=b92ee420ae73b0fa745c0dbbbbf846630184fbb3&s=400')">
                <div class="overlay">
                  <div class="box">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
            				<p>
            					<a href="#">LINK HERE</a>
            				</p>
                  </div>
                </div>
              </div>
              <h3>Cool Ideas</h3>
              <div class="col-md-6 no-padding-left">
                <p class="small text-muted">
                  <strong>Initiator:</strong>
                  <span class="small-detail">Tama Adhi</span>
                </p>
              </div>
              <div class="col-md-6 no-padding-left">
                <p class="small text-muted">
                  <strong>Category: </strong>
                  <span class="small-detail">Category</span>
                </p>
              </div>
            </div>
        </div>
        <!-- END OF POPULAR IDEAS -->
      </div>
    </div>
    <!-- END OF MAIN CONTAINER -->

  </body>

</html>
